name: Deploy to GitHub Pages

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
            python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install sphinx sphinx_rtd_theme myst_parser sphinx-autoapi ipython
          pip install .[dev]

      - name: List files
        run: |
          ls -R

      - name: Sphinx build
        run: |
          sphinx-build -b html docs docs/_build/html

      - name: Generating coverage report for coveralls
        run: |
          coverage run --source=pytuq -m pytest tests/
          coverage report -m

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }} 
          
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
          force_orphan: true

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: sphinx-html
          path: docs/_build/html
